
@{
    ViewData["Title"] = "Sobre";
}

<h1>Sobre mim</h1>
<p>Sou o Diogo Trindade.</p>
<p>Tenho 23 anos, sou de Lisboa</p>
<p style="color:red; font-style:oblique">Sou do Benfica!</p>
<img src="/image/Fotografia.png" width="500" height="600"  />

