
@{
    ViewData["Title"] = "Contactos";
}

<h1>Contactos</h1>
<a href="https://github.com/DiogomgTrindade">GitHub</a>
<br />
<a href="https://www.linkedin.com/in/diogo-trindade-0695b0313/">LinkedIn</a>
<br />
<a href="https://www.slbenfica.pt/">Site do maior do Mundo!</a>